<h1><%= @user.name %></h1>
<h6>
	<% if session[:user_id] == @user.id %>
	<p><td><%= link_to "Delete Account", delete_acct_path(@user.id, @user), method: :delete, data: {confirm: "You sure?"} %></td></p>
	<% end %>
</h6>
<table>
	<tr>
		<th>Tweets</th>
	</tr>
<% @user.tweets.each do |tweet| %>
	<tr>
		<td><%= link_to tweet.text, tweet %></td>
		<% if session[:user_id] == @user.id %>
		<td><%= link_to "edit", edit_tweet_path(tweet) %></td>
  	<td><%= link_to "Destroy", clear_path(tweet.id, tweet), method: :delete, data: {confirm: "You sure?"}%></td>
		<% end %>
	</tr>
<% end %>

</table>
